.will {
    display: inline-block;
    width: 600px;
    height: 600px;
    background: transparent url("will.jpg") no-repeat;
}

.will:hover{
    background: url("giphy.gif") no-repeat;
    width: 800px;
    height: 600px;
}
